/* @VARIABLES */
/* ********** */

// TIPOGRAFIA
$fontSize: 18px;
$fontFamily: "robotoRegular", sans-serif;
$fontFamily-bold: "robotoBold", sans-serif;

// COLORES
$colorBgHeader: #F8F8F8;
$colorLinksMenu: #000000;
$colorBgFooter: #2385E0;
$colorFooter: #FFFFFF;

// TAMAÑOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);

$margenes: (
    internos: 16px,
    navHorizontal: 10px
);